*{
    box-sizing: border-box;
    margin: 0;
}

#container{
    border: 5px solid pink;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#box-container-1{
    border: 3px dashed red;
    grid-column: span 2;
    padding: 20px;
}

#box-container-2{
    border: 3px dashed blue;
    grid-column: span 4;

    display: grid;
    /* grid-template-rows: repeat(2, 2fr); */
    grid-template-columns: repeat(2, 1fr);
}

