*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #dcdcdc;
    display: grid;
    height: 100vh;
}

#container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
}

#box-container-1{
    grid-column: span 3;
    padding: 20px;
}

#box-container-1, #welcome-user-buttons > button{
    background-color: #0f88ec;
    color: white;
    font-weight: bold;
}

#menu{
    display: grid;
    gap: 40px;
}

#logo-header > h2{
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

ul{
    display: grid;
    gap: 20px;
    padding: 10px;
}

li{
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.icons{
    width: 30px;
    height: 30px;
    margin-right: 35px;
    filter: invert();
}

#dashboard-icon{
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

#box-container-2{
    border: 3px solid blue;
    grid-column: span 9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#user{
    background-color: whitesmoke;
    grid-column: span 2;
    display: grid;
    gap: 20px;
    padding: 10px;
    box-shadow: 0px 2px 5px #5656569a; /* USE this to encapsulate the cards, announcements, trending and the user containers in one single CSS line. */
}

#user-header{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    
}

.search-interactable{
    /* grid-column: span 2; */
    display: grid;
    justify-self: center;
    align-items: center;
    border: none;
    background-color: whitesmoke;
}

.search-interactable > img{
    width: 16px;
    height: auto;
}

#search-bar{
    width: 360px;
}

#user-header > button{
    /* Change this to fit the icons for the search and bell icons */
    width: 30px;
    height: auto;
    padding: 5px;
    border-radius: 1rem;
}

#search-bar{
    height: 30px;
    border-radius: 1rem;
    padding: 10px;
    background-color: #dcdcdc;
    border: none;
}

.profile-picture{
    /* background-image: url(); */
    /* Add user profile picture */
    background-color: #dcdcdc;
    padding: 5px;
}

.small{
    /* Adjust user profile picture to fit the smaller container */
    height: 30px;
    width: 30px;
    border-radius: 1rem;
    padding: 2px;
}


.large{
    /* Adjust user profile picture to fit the larger container */
}

#user-header > h2, .small{
    font-size: 0.8rem;
    grid-column: span 3;
    margin: 0 20px;
    justify-self: end;
}

#welcome{
    display: grid;
    grid-template-columns: 1fr 3fr repeat(3, 1fr);
    border: 5px solid darkgoldenrod;
    align-items: center;
    
}

#greeting-box{
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

#greeting-box > h2{
    text-align: left;
    grid-column: span 5;

}

#greeting-box > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#welcome-user-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#welcome-user-buttons > button{
    border-style: none;
    width: 96px;
    height: 32px;
    font-size: 1rem;
    border-radius: 1rem;
    align-self: center;
}

#content{
    grid-row: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: span 2;
    padding: 16px;
}

#projects{
    /* border: 5px dashed green; Used as guideline */
    grid-column: span 3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 0px 32px;
}

#projects > .titles{
    grid-column: span 2;
}

#side-content{
    padding: 10px;
    display: grid;
    gap: 10px;
}

#announcements{
    display: grid;
    align-items: center;
}

.announce-comments{
    box-shadow: 0px 2px 5px black;
    padding: 15px;
    background-color: whitesmoke;
}

.announce-comments-titles{
    font-size: 1.2rem;
    font-weight: bold;
}

.comments{
    font-size: 1rem;
}

#trending{
    display: grid;
    gap: 35px;
    background-color: whitesmoke;
    border-radius: 0.6rem;
    padding: 15px;
}

.users{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

.users > img{
    background-color: #dcdcdc;
    margin-left: 16px;
    border-radius: 2rem;
    width: 60px;
    height: 60px;
}

#trending-user{
    grid-column: span 2;
    font-size: 1rem;
}

.usertags{
    font-weight: bold;
}

.cards{
    border: none;
    border-left: 8px solid rgb(221, 195, 47);
    border-radius: 0.6rem;
    background-color: whitesmoke;
    padding: 40px;
}

#greeting-font-size{
    font-size: 0.5em;
}